@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #201e35;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.login_interface{
    width: 400px;
    height: 500px;
    background-color: #2a4dc7;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 50px;
    border: 2px solid #fff;
}

.login_form{
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
    margin-top: 10px;
    font: normal 600 35px Roboto;
}

.user_box{
    position: relative;
}

.user_box input{
    width: 300px;
    margin-bottom: 30px;
    border: none;
    padding: 15px 0;
    outline: none;
    background-color: transparent;
    color: #fff;
    border-bottom: 2px solid #201e35;
}

.user_box label{
    position: absolute;
    color: #fff;
    top: 0;
    left: 0;
    padding: 15px 0;
    font: normal 500 17px Roboto;
    pointer-events: none;
    transition: .5s;
}

.user_box input:focus ~ label,
.user_box input:valid ~ label{
    top: -20px;
    left: 0;
    font-size: 12px;
}

.btn{
    margin-top: 60px;
    background-color: #201e35;
    width: 300px;
    height: 50px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 7px;
    cursor: pointer;
    font: normal 500 17px Roboto;
}
